USE [master]
GO
/****** Object:  Database [tambosoft1.0]    Script Date: 27/11/18 19:47:37 ******/
CREATE DATABASE [tambosoft1.0]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tambosoft1.0', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tambosoft1.0.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tambosoft1.0_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tambosoft1.0_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tambosoft1.0].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tambosoft1.0]
GO
/****** Object:  Table [dbo].[Animal]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Animal](
	[rp] [int] IDENTITY(1,1) NOT NULL,
	[fecha_nacimiento] [datetime] NULL,
	[edad] [int] NULL,
	[foto] [varchar](100) NULL,
	[nombre_animal] [varchar](50) NULL,
	[estado_animal] [varchar](50) NULL,
	[hba] [int] NULL,
	[categoria] [varchar](20) NULL,
	[sexo] [varchar](10) NULL,
	[rp_madre] [int] NULL,
	[rp_padre] [int] NULL,
	[hba_madre] [int] NULL,
	[hba_padre] [int] NULL,
	[id_tambo] [int] NULL,
	[id_raza] [int] NULL,
 CONSTRAINT [PK_Animal_1] PRIMARY KEY CLUSTERED 
(
	[rp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Control]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control](
	[id_control] [int] IDENTITY(1,1) NOT NULL,
	[primer_control] [real] NULL,
	[segundo_control] [real] NULL,
	[porcentaje_grasa] [real] NULL,
	[kg_grasa] [real] NULL,
 CONSTRAINT [PK_Control] PRIMARY KEY CLUSTERED 
(
	[id_control] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Control_Animal]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Control_Animal](
	[fecha_control] [datetime] NULL,
	[id_control] [int] NULL,
	[rp] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Desc_Subevento]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Desc_Subevento](
	[id_desc] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](100) NULL,
	[abreviacion] [varchar](10) NULL,
	[estado_desc] [bit] NULL,
	[id_subevento] [int] NULL,
 CONSTRAINT [PK_Desc_subevento] PRIMARY KEY CLUSTERED 
(
	[id_desc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Evento](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_evento] [varchar](50) NULL,
 CONSTRAINT [PK_Evento] PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Evento_Animal]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Animal](
	[rp] [int] NULL,
	[id_evento] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Evento_Subevento]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento_Subevento](
	[id_evento] [int] NULL,
	[id_subevento] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventoAnimal_DescSubevento]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoAnimal_DescSubevento](
	[rp] [int] NULL,
	[id_evento] [int] NULL,
	[id_desc] [int] NULL,
	[fecha_desc] [datetime] NULL,
	[id_inseminador] [int] NULL,
	[id_tambo] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inseminador]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Inseminador](
	[id_inseminador] [int] IDENTITY(1,1) NOT NULL,
	[nombre_inseminador] [varchar](50) NULL,
	[estado_inseminador] [bit] NULL,
	[telefono] [varchar](50) NULL,
	[direccion] [varchar](100) NULL,
	[dni] [varchar](9) NULL,
	[id_localidad] [int] NULL,
 CONSTRAINT [PK_Inseminador] PRIMARY KEY CLUSTERED 
(
	[id_inseminador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Localidad](
	[id_localidad] [int] IDENTITY(1,1) NOT NULL,
	[nombre_localidad] [varchar](50) NULL,
	[id_provincia] [int] NULL,
 CONSTRAINT [PK_Localidad] PRIMARY KEY CLUSTERED 
(
	[id_localidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Provincia]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Provincia](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[nombre_provincia] [varchar](50) NULL,
 CONSTRAINT [PK_Provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Raza]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Raza](
	[id_raza] [int] IDENTITY(1,1) NOT NULL,
	[nombre_raza] [varchar](50) NULL,
	[estado_raza] [bit] NULL,
 CONSTRAINT [PK_Raza] PRIMARY KEY CLUSTERED 
(
	[id_raza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Subevento]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Subevento](
	[id_subevento] [int] IDENTITY(1,1) NOT NULL,
	[nombre_subevento] [varchar](50) NULL,
	[estado_subevento] [bit] NULL,
 CONSTRAINT [PK_Subevento] PRIMARY KEY CLUSTERED 
(
	[id_subevento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tambo]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tambo](
	[id_tambo] [int] IDENTITY(1,1) NOT NULL,
	[nombre_tambo] [varchar](50) NULL,
	[superficie] [real] NULL,
	[estado_tambo] [bit] NULL,
	[id_localidad] [int] NULL,
 CONSTRAINT [PK_Tambo] PRIMARY KEY CLUSTERED 
(
	[id_tambo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tambo_inseminador]    Script Date: 27/11/18 19:47:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tambo_inseminador](
	[id_tambo] [int] NULL,
	[id_inseminador] [int] NULL
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Animal] ON 

INSERT [dbo].[Animal] ([rp], [fecha_nacimiento], [edad], [foto], [nombre_animal], [estado_animal], [hba], [categoria], [sexo], [rp_madre], [rp_padre], [hba_madre], [hba_padre], [id_tambo], [id_raza]) VALUES (1, CAST(N'2011-07-27 00:00:00.000' AS DateTime), 1, N'', N'Marisa', N'Vendido', 1, N'Vaca', N'Hembra', 4, 5, 4, 5, 1, 5)
INSERT [dbo].[Animal] ([rp], [fecha_nacimiento], [edad], [foto], [nombre_animal], [estado_animal], [hba], [categoria], [sexo], [rp_madre], [rp_padre], [hba_madre], [hba_padre], [id_tambo], [id_raza]) VALUES (2, CAST(N'2007-05-05 00:00:00.000' AS DateTime), 11, N'', N'Chueca', N'Enfermo', 2, N'Vaca', N'Hembra', 4, 5, 5, 5, 1, 1)
INSERT [dbo].[Animal] ([rp], [fecha_nacimiento], [edad], [foto], [nombre_animal], [estado_animal], [hba], [categoria], [sexo], [rp_madre], [rp_padre], [hba_madre], [hba_padre], [id_tambo], [id_raza]) VALUES (13, CAST(N'2018-10-12 00:00:00.000' AS DateTime), 1, N'', N'ewffds', N'Vivo', 1, N'Vaca', N'Hembra', 11, 1, 1, 1, 1, 3)
SET IDENTITY_INSERT [dbo].[Animal] OFF
SET IDENTITY_INSERT [dbo].[Control] ON 

INSERT [dbo].[Control] ([id_control], [primer_control], [segundo_control], [porcentaje_grasa], [kg_grasa]) VALUES (1, 3, 1, 0.5, 0.3)
INSERT [dbo].[Control] ([id_control], [primer_control], [segundo_control], [porcentaje_grasa], [kg_grasa]) VALUES (2, 4, 1, 0.3, 0.2)
INSERT [dbo].[Control] ([id_control], [primer_control], [segundo_control], [porcentaje_grasa], [kg_grasa]) VALUES (3, 4, 2, 0.3, 0.5)
SET IDENTITY_INSERT [dbo].[Control] OFF
INSERT [dbo].[Control_Animal] ([fecha_control], [id_control], [rp]) VALUES (CAST(N'2015-01-20 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[Control_Animal] ([fecha_control], [id_control], [rp]) VALUES (CAST(N'2015-05-17 00:00:00.000' AS DateTime), 2, 1)
INSERT [dbo].[Control_Animal] ([fecha_control], [id_control], [rp]) VALUES (CAST(N'2016-04-04 00:00:00.000' AS DateTime), 3, 2)
SET IDENTITY_INSERT [dbo].[Desc_Subevento] ON 

INSERT [dbo].[Desc_Subevento] ([id_desc], [descripcion], [abreviacion], [estado_desc], [id_subevento]) VALUES (1, N'Hembra', N'H', 1, 1)
INSERT [dbo].[Desc_Subevento] ([id_desc], [descripcion], [abreviacion], [estado_desc], [id_subevento]) VALUES (2, N'Macho', N'M', 1, 1)
INSERT [dbo].[Desc_Subevento] ([id_desc], [descripcion], [abreviacion], [estado_desc], [id_subevento]) VALUES (3, N'Mell. Hembra-Macho', N'HM', 1, 1)
GO
SET IDENTITY_INSERT [dbo].[Desc_Subevento] OFF
SET IDENTITY_INSERT [dbo].[Evento] ON 

INSERT [dbo].[Evento] ([id_evento], [nombre_evento]) VALUES (1, N'Parto')
INSERT [dbo].[Evento] ([id_evento], [nombre_evento]) VALUES (2, N'Aborto')
INSERT [dbo].[Evento] ([id_evento], [nombre_evento]) VALUES (3, N'Celo')
SET IDENTITY_INSERT [dbo].[Evento] OFF
INSERT [dbo].[Evento_Subevento] ([id_evento], [id_subevento]) VALUES (1, 1)
INSERT [dbo].[Evento_Subevento] ([id_evento], [id_subevento]) VALUES (1, 2)
INSERT [dbo].[Evento_Subevento] ([id_evento], [id_subevento]) VALUES (1, 3)
INSERT [dbo].[EventoAnimal_DescSubevento] ([rp], [id_evento], [id_desc], [fecha_desc], [id_inseminador], [id_tambo]) VALUES (1, 1, 6, CAST(N'2016-05-20 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[EventoAnimal_DescSubevento] ([rp], [id_evento], [id_desc], [fecha_desc], [id_inseminador], [id_tambo]) VALUES (1, 1, 1, CAST(N'2016-05-20 00:00:00.000' AS DateTime), 1, 1)
INSERT [dbo].[EventoAnimal_DescSubevento] ([rp], [id_evento], [id_desc], [fecha_desc], [id_inseminador], [id_tambo]) VALUES (1, 8, 93, CAST(N'2018-11-14 00:00:00.000' AS DateTime), 1, 1)
SET IDENTITY_INSERT [dbo].[Inseminador] ON 

INSERT [dbo].[Inseminador] ([id_inseminador], [nombre_inseminador], [estado_inseminador], [telefono], [direccion], [dni], [id_localidad]) VALUES (1, N'Jorge', 1, N'3406534201', N'Belgrano 214', N'15742347', 4)
INSERT [dbo].[Inseminador] ([id_inseminador], [nombre_inseminador], [estado_inseminador], [telefono], [direccion], [dni], [id_localidad]) VALUES (2, N'Alberto Perez', 1, N'1212312', N'asasdas', N'12323213', 24)
INSERT [dbo].[Inseminador] ([id_inseminador], [nombre_inseminador], [estado_inseminador], [telefono], [direccion], [dni], [id_localidad]) VALUES (3, N'Alberto', 1, N'1111', N'qwwd', N'1231231', 24)
SET IDENTITY_INSERT [dbo].[Inseminador] OFF
SET IDENTITY_INSERT [dbo].[Localidad] ON 

INSERT [dbo].[Localidad] ([id_localidad], [nombre_localidad], [id_provincia]) VALUES (1, N'Pergamino', 1)
INSERT [dbo].[Localidad] ([id_localidad], [nombre_localidad], [id_provincia]) VALUES (2, N'Corral de Bustos', 5)
INSERT [dbo].[Localidad] ([id_localidad], [nombre_localidad], [id_provincia]) VALUES (3, N'Landeta', 20)
SET IDENTITY_INSERT [dbo].[Localidad] OFF
SET IDENTITY_INSERT [dbo].[Provincia] ON 

INSERT [dbo].[Provincia] ([id_provincia], [nombre_provincia]) VALUES (1, N'Buenos Aires')
INSERT [dbo].[Provincia] ([id_provincia], [nombre_provincia]) VALUES (2, N'Catamarca')
INSERT [dbo].[Provincia] ([id_provincia], [nombre_provincia]) VALUES (3, N'Chaco')
SET IDENTITY_INSERT [dbo].[Provincia] OFF
SET IDENTITY_INSERT [dbo].[Raza] ON 

INSERT [dbo].[Raza] ([id_raza], [nombre_raza], [estado_raza]) VALUES (1, N'Holando Argentino', 1)
INSERT [dbo].[Raza] ([id_raza], [nombre_raza], [estado_raza]) VALUES (2, N'Yersey', 1)
INSERT [dbo].[Raza] ([id_raza], [nombre_raza], [estado_raza]) VALUES (3, N'Cruza', 1)
SET IDENTITY_INSERT [dbo].[Raza] OFF
SET IDENTITY_INSERT [dbo].[Subevento] ON 

INSERT [dbo].[Subevento] ([id_subevento], [nombre_subevento], [estado_subevento]) VALUES (1, N'Sexo cria', 1)
INSERT [dbo].[Subevento] ([id_subevento], [nombre_subevento], [estado_subevento]) VALUES (2, N'Tipo parto', 1)
INSERT [dbo].[Subevento] ([id_subevento], [nombre_subevento], [estado_subevento]) VALUES (3, N'Estado cria', 1)
SET IDENTITY_INSERT [dbo].[Subevento] OFF
SET IDENTITY_INSERT [dbo].[Tambo] ON 

INSERT [dbo].[Tambo] ([id_tambo], [nombre_tambo], [superficie], [estado_tambo], [id_localidad]) VALUES (1, N'La Luisa', 200.2, 1, 4)
SET IDENTITY_INSERT [dbo].[Tambo] OFF
INSERT [dbo].[Tambo_inseminador] ([id_tambo], [id_inseminador]) VALUES (1, 1)
/****** Object:  Index [IX_EventoAnimal_DescSubevento]    Script Date: 27/11/18 19:47:37 ******/
CREATE NONCLUSTERED INDEX [IX_EventoAnimal_DescSubevento] ON [dbo].[EventoAnimal_DescSubevento]
(
	[rp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Raza] FOREIGN KEY([id_raza])
REFERENCES [dbo].[Raza] ([id_raza])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Raza]
GO
ALTER TABLE [dbo].[Animal]  WITH CHECK ADD  CONSTRAINT [FK_Animal_Tambo] FOREIGN KEY([id_tambo])
REFERENCES [dbo].[Tambo] ([id_tambo])
GO
ALTER TABLE [dbo].[Animal] CHECK CONSTRAINT [FK_Animal_Tambo]
GO
ALTER TABLE [dbo].[Control_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Control_Animal_Animal] FOREIGN KEY([rp])
REFERENCES [dbo].[Animal] ([rp])
GO
ALTER TABLE [dbo].[Control_Animal] CHECK CONSTRAINT [FK_Control_Animal_Animal]
GO
ALTER TABLE [dbo].[Control_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Control_Animal_Control] FOREIGN KEY([id_control])
REFERENCES [dbo].[Control] ([id_control])
GO
ALTER TABLE [dbo].[Control_Animal] CHECK CONSTRAINT [FK_Control_Animal_Control]
GO
ALTER TABLE [dbo].[Desc_Subevento]  WITH CHECK ADD  CONSTRAINT [FK_Desc_Subevento_Subevento] FOREIGN KEY([id_subevento])
REFERENCES [dbo].[Subevento] ([id_subevento])
GO
ALTER TABLE [dbo].[Desc_Subevento] CHECK CONSTRAINT [FK_Desc_Subevento_Subevento]
GO
ALTER TABLE [dbo].[Evento_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Animal_Animal] FOREIGN KEY([rp])
REFERENCES [dbo].[Animal] ([rp])
GO
ALTER TABLE [dbo].[Evento_Animal] CHECK CONSTRAINT [FK_Evento_Animal_Animal]
GO
ALTER TABLE [dbo].[Evento_Animal]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Animal_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[Evento_Animal] CHECK CONSTRAINT [FK_Evento_Animal_Evento]
GO
ALTER TABLE [dbo].[Evento_Subevento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Subevento_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[Evento_Subevento] CHECK CONSTRAINT [FK_Evento_Subevento_Evento]
GO
ALTER TABLE [dbo].[Evento_Subevento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Subevento_Subevento] FOREIGN KEY([id_subevento])
REFERENCES [dbo].[Subevento] ([id_subevento])
GO
ALTER TABLE [dbo].[Evento_Subevento] CHECK CONSTRAINT [FK_Evento_Subevento_Subevento]
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento]  WITH CHECK ADD  CONSTRAINT [FK_EventoAnimal_DescSubevento_Animal] FOREIGN KEY([rp])
REFERENCES [dbo].[Animal] ([rp])
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento] CHECK CONSTRAINT [FK_EventoAnimal_DescSubevento_Animal]
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento]  WITH CHECK ADD  CONSTRAINT [FK_EventoAnimal_DescSubevento_Desc_Subevento] FOREIGN KEY([id_desc])
REFERENCES [dbo].[Desc_Subevento] ([id_desc])
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento] CHECK CONSTRAINT [FK_EventoAnimal_DescSubevento_Desc_Subevento]
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento]  WITH CHECK ADD  CONSTRAINT [FK_EventoAnimal_DescSubevento_Evento] FOREIGN KEY([id_evento])
REFERENCES [dbo].[Evento] ([id_evento])
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento] CHECK CONSTRAINT [FK_EventoAnimal_DescSubevento_Evento]
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento]  WITH CHECK ADD  CONSTRAINT [FK_EventoAnimal_DescSubevento_Inseminador] FOREIGN KEY([id_inseminador])
REFERENCES [dbo].[Inseminador] ([id_inseminador])
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento] CHECK CONSTRAINT [FK_EventoAnimal_DescSubevento_Inseminador]
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento]  WITH CHECK ADD  CONSTRAINT [FK_EventoAnimal_DescSubevento_Tambo] FOREIGN KEY([id_tambo])
REFERENCES [dbo].[Tambo] ([id_tambo])
GO
ALTER TABLE [dbo].[EventoAnimal_DescSubevento] CHECK CONSTRAINT [FK_EventoAnimal_DescSubevento_Tambo]
GO
ALTER TABLE [dbo].[Inseminador]  WITH CHECK ADD  CONSTRAINT [FK_Inseminador_Localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Inseminador] CHECK CONSTRAINT [FK_Inseminador_Localidad]
GO
ALTER TABLE [dbo].[Localidad]  WITH CHECK ADD  CONSTRAINT [FK_Localidad_Provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[Provincia] ([id_provincia])
GO
ALTER TABLE [dbo].[Localidad] CHECK CONSTRAINT [FK_Localidad_Provincia]
GO
ALTER TABLE [dbo].[Tambo]  WITH CHECK ADD  CONSTRAINT [FK_Tambo_Localidad] FOREIGN KEY([id_localidad])
REFERENCES [dbo].[Localidad] ([id_localidad])
GO
ALTER TABLE [dbo].[Tambo] CHECK CONSTRAINT [FK_Tambo_Localidad]
GO
ALTER TABLE [dbo].[Tambo_inseminador]  WITH CHECK ADD  CONSTRAINT [FK_Tambo_inseminador_Inseminador] FOREIGN KEY([id_inseminador])
REFERENCES [dbo].[Inseminador] ([id_inseminador])
GO
ALTER TABLE [dbo].[Tambo_inseminador] CHECK CONSTRAINT [FK_Tambo_inseminador_Inseminador]
GO
ALTER TABLE [dbo].[Tambo_inseminador]  WITH CHECK ADD  CONSTRAINT [FK_Tambo_inseminador_Tambo] FOREIGN KEY([id_tambo])
REFERENCES [dbo].[Tambo] ([id_tambo])
GO
ALTER TABLE [dbo].[Tambo_inseminador] CHECK CONSTRAINT [FK_Tambo_inseminador_Tambo]
GO
USE [master]
GO
